:root {
  /* === FONT ==== */
  --font: "Inter", sans-serif;
  /* ==== COLORS ==== */
  /* Background */
  --primary-background-color: #0b0f14;
  --card-background-color: #111827;

  /* Text */
  --primary-text-color: #e5e7eb;

  /* Accents */
  --cyan-accent: #22d3ee;
  --pink-accent: #f472b6;
  --green-accent: #22c55e;

  --cyan-hover: #138697;
  --green-hover: #28a074;

  /* Success/Error */
  --success: #34d399;
  --error: #f87171;
}
