@import url(css/variables.css);
/* ==== BODY ==== */
body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
section {
  padding: 0 4rem;
  margin-top: 8rem;
}
/* ==== HEADER ==== */
header {
  padding: 3.2rem 4rem;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-bottom: 1px solid white;
}
/* Logo */
.logo {
  font-weight: 600;
  font-size: 3.2rem;
}
.logo-part {
  color: var(--cyan-accent);
}
/* Search input */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input {
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  width: 40rem;
}
.search-container i {
  font-size: 1.6rem;
  position: absolute;
  color: black;
  right: 1.6rem;
}
/* Navigation */
nav {
  display: flex;
  gap: 4rem;
}
nav i {
  font-size: 1.8rem;
}
nav .nav-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
nav .nav-item:hover {
  cursor: pointer;
  color: var(--cyan-accent);
}
/* ==== LANDING PAGE ==== */
/* IMAGE CAROUSEL  */
.product-carousel {
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #000;
}
.carousel-product {
  display: none;
}
.product-container {
  display: flex;
}
.carousel-indicators {
  display: flex;
  gap: 1.6rem;
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-indicators i {
  cursor: pointer;
  font-size: 3.2rem;
  color: #acacac;
}
.carousel-indicators .active,
.carousel-indicators i:hover {
  color: var(--cyan-accent);
}
.carousel-product img {
  width: 50%;
  object-fit: cover;
  height: 90vh;
}
.carousel-product .carousel-product-info {
  width: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-product-info {
  padding: 0 1.6rem;
}
.carousel-product-info h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
.carousel-product-info p {
  font-size: 1.6rem;
  margin-top: 3.2rem;
}
.add-to-cart-btn {
  margin-top: 8rem;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.8rem 8rem;
  background-color: var(--green-accent);
  border-radius: 0.5rem;
  color: black;
}
.add-to-cart-btn:hover {
  background-color: var(--green-hover);
}
/* ALL PRODUCTS */
.all-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.6rem;
  padding: 1.8rem;
  justify-content: center;
}
.show-more-btn {
  color: #000;
  background-color: var(--cyan-accent);
  padding: 0.8rem 3.2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin: auto;
}
.show-more-btn:hover {
  background-color: var(--cyan-hover);
  cursor: pointer;
}
/* PRODUCT SLIDERS */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.section-header .slide-buttons {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
}
.slider-container {
  overflow: hidden;
  position: relative;
}
.slider-track {
  display: flex;
  gap: 3.2rem;
}
.slider-track .product-card {
  min-width: 25rem;
}
/* ==== NEWSLETTER ==== */
#newsletter-heading {
  text-align: center;
}
.newsletter-container {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter-container img {
  width: 50%;
}
.newsletter-container p {
  width: 50rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 156.035%;
  letter-spacing: 0.32px;
}
.newsletter-description-and-form form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 3.2rem;
}
.newsletter-description-and-form label {
  font-weight: 600;
}
.newsletter-description-and-form input {
  margin-bottom: 1.6rem;
  background-color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.newsletter-description-and-form a {
  background-color: var(--cyan-accent);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: black;
  border-radius: 0.5rem;
  padding: 0.8rem 4rem;
}
.newsletter-description-and-form a:hover {
  background-color: var(--cyan-hover);
  cursor: pointer;
}
/* ==== FOOTER ==== */
footer {
  padding: 3.2rem 4rem;
  border-top: 1px solid white;
  margin-top: 8rem;
}
.footer-main {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
}
.footer-newsletter form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.6rem;
}
.footer-newsletter input {
  background: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.footer-newsletter a {
  background-color: var(--cyan-accent);
  font-weight: 600;
  text-align: center;
  color: black;
  border-radius: 0.5rem;
  padding: 0.8rem 4rem;
}
.footer-newsletter a:hover {
  background-color: var(--cyan-hover);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-weight: 600;
}
footer ul a:hover {
  color: var(--cyan-accent);
}
.footer-socials {
  font-size: 1.6rem;
}
.footer-socials i:hover {
  color: var(--cyan-hover);
  cursor: pointer;
}
.copyright {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 3.2rem;
  align-items: center;
}
/* ==== PRODUCT PAGE ==== */
/* Product view */
.product-container {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.product-description {
  width: 48rem;
}
.amount-select {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
  align-items: center;
}
.amount-select i:hover {
  color: var(--cyan-accent);
  cursor: pointer;
}
.price-container {
  display: flex;
  gap: 1.8rem;
  font-size: 2.4rem;
  font-weight: 600;
}
#add-to-cart-btn {
  background-color: var(--green-accent);
  color: black;
  padding: 0.8rem 0;
  font-size: 1.8rem;
  text-align: center;
  border-radius: 0.5rem;
}
.product-container img {
  height: 80rem;
  width: 50%;
  object-fit: cover;
}
.rating {
  display: flex;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: yellow;
}
/* Reviews */
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 4rem;
}
.reviews h2 {
  border-bottom: 1px solid white;
}
.review-heading {
  display: flex;
  gap: 4rem;
  font-size: 2.4rem;
  align-items: center;
}
.review-text {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid white;
}
.product-price {
  font-size: 1.8rem;
  font-weight: 600;
}
/* ==== FAVOURITES PAGE ==== */
.favourites .section-heading {
  margin-top: 8rem;
  border-bottom: 1px solid white;
}
.favourite-products-container p {
  margin-top: 2.4rem;
}
/* ==== LOGIN and register PAGE ==== */
.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login h2,
.register h2 {
  text-align: center;
  margin-top: 4rem;
}
.login form,
.register form {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.email,
.psw,
.name {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.email input,
.psw input,
.name input {
  background-color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
  min-width: 50rem;
}
.login form label,
.register form label {
  font-weight: 600;
}
.checkbox {
  display: flex;
  gap: 0.8rem;
}
.login a,
.register a {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}
.login #register-text,
.register #register-text {
  text-decoration: underline;
  margin-left: 0.4rem;
}
.login-btn,
.register-btn {
  font-weight: 600;
  padding: 0.4rem;
  width: 16rem;
  background-color: var(--green-accent);
  border-radius: 0.5rem;
  color: black;
  margin: 0 auto;
}
.login-btn:hover {
  background-color: var(--green-hover);
}
.register-btn {
  background-color: var(--cyan-accent);
}
.register-btn:hover {
  background-color: var(--cyan-hover);
}
.field-check {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.check {
  display: flex;
  gap: 0.8rem;
}
.check i {
  color: red;
}
/* ==== CART ==== */
.cart-container {
  margin-top: 4rem;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 4rem;
}
.img-title-amount {
  display: flex;
  gap: 4rem;
}
.title-amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-title-amount img {
  width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.delete-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.delete-price p {
  text-decoration: underline;
}
.total-price {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.discount-code {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 4rem;
}
.discount-input {
  display: flex;
  gap: 2.4rem;
}
.discount-code input {
  background-color: #fff;
  width: 23rem;
  padding: 0.4rem;
}
.discount-btn {
  padding: 0 1.6rem;
  color: #000;
  background-color: var(--green-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.checkout-btn {
  font-size: 2.4rem;
  background-color: var(--cyan-accent);
  border-radius: 0.5rem;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
/* ==== CHECKOUT PAGE ==== */
.checkout h1 {
  border-bottom: 1px solid white;
}
.checkout-container {
  display: flex;
  justify-content: center;
  gap: 18rem;
  margin-top: 4rem;
}
.information {
  display: flex;
  flex-direction: column;
}
.delete-price h2 {
  font-size: 1.8rem;
}
.information form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 3.2rem 0;
}
.delivery-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
}
.information form input {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.4rem 0.4rem;
}
.zip-city {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.delivery-service,
.payment-method {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 3.2rem 0;
  font-size: 1.4rem;
}
.delivery-service i:hover,
.payment-method i:hover {
  color: var(--cyan-accent);
  cursor: pointer;
}
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-name {
  display: flex;
  gap: 0.8rem;
}
.details {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  width: 42rem;
}
.detail-row {
  padding: 1.6rem 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.detail-row-total {
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
}
.total {
  font-size: 1.8rem;
  font-weight: 600;
}
.confirm-btn {
  font-size: 2.4rem;
  background-color: var(--green-accent);
  border-radius: 0.5rem;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.confirm-btn:hover {
  background-color: var(--green-hover);
}
.legal-txt {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}
/* ==== SUCCESS PAGE ==== */
.order-confirmation {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.thank-you-text,
.order-summary {
  width: 50%;
}
.thank-you-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.order-nr {
  margin-top: 1.6rem;
  font-weight: 600;
}
.thank-you-text a {
  margin-top: 8rem;
}
.back-to-shop-btn {
  font-size: 2.4rem;
  background-color: var(--green-accent);
  border-radius: 0.5rem;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.8rem 0;
  width: 22rem;
}
.back-to-shop-btn:hover {
  background-color: var(--green-hover);
}
.product-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  font-size: 1.8rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid white;
}
.name-qty {
  display: flex;
  gap: 1.6rem;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-summary img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.summary-price {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-size: 1.8rem;
}
.summary-row {
  display: flex;
  justify-content: space-between;
}
.summary-row-total {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 1.6rem;
}
/* ==== COMPONENTS ==== */
.hidden {
  display: none;
}
.section-heading {
  font-size: 2.4rem;
  font-weight: 700;
}
/* PRODUCT CARDS */
.product-card {
  background-color: var(--card-background-color);
  padding: 1.6rem;
  border-radius: 0.5rem;
}
.product-card img {
  border-radius: 0.5rem;
  width: 28rem;
  height: 35rem;
  object-fit: cover;
}
.card-description {
  font-weight: 600;
  font-size: 1.8rem;
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}
.title-fav {
  display: flex;
  justify-content: space-between;
}
.title-fav i {
  font-size: 2.4rem;
}
.favourite {
  color: #f30000;
}
/* On Sale */
.on-sale-price {
  display: flex;
  justify-content: space-between;
}
.original-price {
  color: red;
  text-decoration: line-through;
}
.sale-tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  background-color: var(--green-accent);
  width: fit-content;
  border-radius: 0.5rem;
}
/* LOADING ANIMATION */
.loading-container {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-container p {
  text-align: center;
  margin-top: 1.2rem;
}
.loading {
  border: 0.8rem solid #f3f3f3;
  border-top: 0.8rem solid #797979;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* BREADCRUMBS */
.breadcrumbs {
  font-weight: 600;
  display: flex;
  gap: 1.6rem;
  padding: 0 4rem;
  margin-top: 4rem;
}
.breadcrumbs .breadcrumb-inactive {
  text-decoration: underline;
}
/* ==== ANIMATIONS ==== */
.slide-animation {
  animation: slide 1s ease-out;
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(0);
  }
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 895px) {
  .main-nav,
  .search-container {
    display: none;
  }
  .mobile-icons {
    display: flex;
    gap: 4rem;
    font-size: 1.8rem;
    align-items: center;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter-container {
    justify-content: center;
  }
  .newsletter-container img {
    display: none;
  }
  .footer-main {
    flex-direction: column;
  }
  .product-container {
    flex-direction: column;
  }
  .product-container img {
    width: 100%;
    height: 40rem;
  }
  .product-description {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .carousel-product-info h1,
  .carousel-product-info p {
    display: none;
  }
  .carousel-product img {
    min-width: 100%;
  }
  .add-to-cart-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16rem;
  }
  .email input,
  .psw input,
  .name input {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.5rem;
    min-width: 20rem;
  }
  .checkout-container {
    flex-direction: column;
    gap: 4rem;
  }
  .order-confirmation {
    flex-direction: column;
  }
  .thank-you-text,
  .order-summary {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  header {
    padding: 1.6rem;
  }
  .mobile-icons {
    gap: 1.6rem;
  }
  .add-to-cart-btn {
    padding: 1.6rem;
  }
  .section-header .slide-buttons {
    gap: 1.2rem;
  }
  .newsletter-container p {
    width: auto;
  }
  .img-title-amount {
    gap: 1.6rem;
  }
  .img-title-amount h2 {
    font-size: 1.6rem;
  }
  .cart-item {
    flex-direction: column;
    gap: 1.6rem;
  }
  .delete-price {
    text-align: left;
    gap: 1.6rem;
  }
  .amount-select {
    font-size: 1.8rem;
    gap: 0.8rem;
  }
  .checkout-container {
    flex-direction: column;
    gap: 3.2rem;
  }
  .information input {
    width: 100%;
  }
  .details {
    width: 100%;
  }
}
