@import url(css/variables.css);
/* ==== BODY ==== */
body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
section {
  padding: 0 4rem;
  margin-top: 8rem;
}
/* ==== HEADER ==== */
header {
  padding: 3.2rem 4rem;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-bottom: 1px solid white;
}
/* Logo */
.logo {
  font-weight: 600;
  font-size: 3.2rem;
}
.logo-part {
  color: var(--cyan-accent);
}
/* Search input */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input {
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  width: 40rem;
}
.search-container i {
  font-size: 1.6rem;
  position: absolute;
  color: black;
  right: 1.6rem;
}
/* Navigation */
nav {
  display: flex;
  gap: 4rem;
}
nav i {
  font-size: 1.8rem;
}
nav .nav-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
nav .nav-item:hover {
  cursor: pointer;
  color: var(--cyan-accent);
}
/* ==== LANDING PAGE ==== */
/* IMAGE CAROUSEL  */
.product-carousel {
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #000;
}
.carousel-product {
  display: none;
}
.product-container {
  display: flex;
}
.carousel-indicators {
  display: flex;
  gap: 1.6rem;
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-indicators i {
  cursor: pointer;
  font-size: 3.2rem;
  color: #acacac;
}
.carousel-indicators .active,
.carousel-indicators i:hover {
  color: var(--cyan-accent);
}
.carousel-product img {
  width: 50%;
  object-fit: cover;
  height: 90vh;
}
.carousel-product .carousel-product-info {
  width: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-product-info {
  padding: 0 1.6rem;
}
.carousel-product-info h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
.carousel-product-info p {
  font-size: 1.6rem;
  margin-top: 3.2rem;
}
.add-to-cart-btn {
  margin-top: 8rem;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.8rem 8rem;
  background-color: var(--green-accent);
  border-radius: 0.5rem;
  color: black;
}
.add-to-cart-btn:hover {
  background-color: var(--green-hover);
}
/* ALL PRODUCTS */
.all-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.6rem;
  padding: 1.8rem;
  justify-content: center;
}
.show-more-btn {
  color: #000;
  background-color: var(--cyan-accent);
  padding: 0.8rem 3.2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin: auto;
}
.show-more-btn:hover {
  background-color: var(--cyan-hover);
  cursor: pointer;
}
/* PRODUCT SLIDERS */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.section-header .slide-buttons {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
}
.slider-container {
  overflow: hidden;
  position: relative;
}
.slider-track {
  display: flex;
  gap: 3.2rem;
}
.slider-track .product-card {
  min-width: 25rem;
}
/* ==== NEWSLETTER ==== */
#newsletter-heading {
  text-align: center;
}
.newsletter-container {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter-container img {
  width: 50%;
}
.newsletter-container p {
  width: 50rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 156.035%;
  letter-spacing: 0.32px;
}
.newsletter-description-and-form form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 3.2rem;
}
.newsletter-description-and-form label {
  font-weight: 600;
}
.newsletter-description-and-form input {
  margin-bottom: 1.6rem;
  background-color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.newsletter-description-and-form a {
  background-color: var(--cyan-accent);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: black;
  border-radius: 0.5rem;
  padding: 0.8rem 4rem;
}
.newsletter-description-and-form a:hover {
  background-color: var(--cyan-hover);
  cursor: pointer;
}
/* ==== FOOTER ==== */
footer {
  padding: 3.2rem 4rem;
  border-top: 1px solid white;
  margin-top: 8rem;
}
.footer-main {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
}
.footer-newsletter form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.6rem;
}
.footer-newsletter input {
  background: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.footer-newsletter a {
  background-color: var(--cyan-accent);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: black;
  border-radius: 0.5rem;
  padding: 0.8rem 4rem;
}
.footer-newsletter a:hover {
  background-color: var(--cyan-hover);
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-weight: 600;
}
footer ul a:hover {
  color: var(--cyan-accent);
}
.footer-socials {
  font-size: 1.6rem;
}
.footer-socials i:hover {
  color: var(--cyan-hover);
  cursor: pointer;
}
.copyright {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 3.2rem;
  align-items: center;
}
/* ==== COMPONENTS ==== */
.hidden {
  display: none;
}
.section-heading {
  font-size: 2.4rem;
  font-weight: 700;
}
/* PRODUCT CARDS */
.product-card {
  background-color: var(--card-background-color);
  padding: 1.6rem;
  border-radius: 0.5rem;
}
.product-card img {
  border-radius: 0.5rem;
  width: 28rem;
  height: 35rem;
  object-fit: cover;
}
.card-description {
  font-weight: 600;
  font-size: 1.8rem;
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}
.title-fav {
  display: flex;
  justify-content: space-between;
}
.title-fav i {
  font-size: 2.4rem;
}
.favourite {
  color: #f30000;
}
/* On Sale */
.on-sale-price {
  display: flex;
  justify-content: space-between;
}
.original-price {
  color: red;
  text-decoration: line-through;
}
.sale-tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  background-color: var(--green-accent);
  width: fit-content;
  border-radius: 0.5rem;
}

/* ==== ANIMATIONS ==== */
.slide-animation {
  animation: slide 1s ease-out;
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(0);
  }
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 895px) {
  .main-nav,
  .search-container {
    display: none;
  }
  .mobile-icons {
    display: flex;
    gap: 4rem;
    font-size: 1.8rem;
    align-items: center;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter-container {
    justify-content: center;
  }
  .newsletter-container img {
    display: none;
  }
  .footer-main {
    flex-direction: column;
  }
}

@media screen and (max-width: 780px) {
  .carousel-product-info h1,
  .carousel-product-info p {
    display: none;
  }
  .carousel-product img {
    min-width: 100%;
  }
  .add-to-cart-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16rem;
  }
}

@media screen and (max-width: 570px) {
  header {
    padding: 1.6rem;
  }
  .mobile-icons {
    gap: 1.6rem;
  }
  .add-to-cart-btn {
    padding: 1.6rem;
  }
  .section-header .slide-buttons {
    gap: 1.2rem;
  }
  .newsletter-container p {
    width: auto;
  }
}
